body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(90deg, rgba(255,230,197,1) 19%, rgba(0,87,131,1) 100%);
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
